# Anime Rating Case Study

## Context

Streamist is a streaming company that streams web series and movies for a worldwide audience. Every content on their portal is rated by the viewers, and the portal also provides other information for the content like the number of people who have watched it, the number of people who want to watch it, the number of episodes, duration of an episode, etc.

They are currently focusing on the anime available in their portal, and want to identify the most important factors involved in rating an anime. You as a data scientist at Streamist are tasked with identifying the important factors and building a predictive model to predict the rating on an anime.


## Objective

To preprocess the raw data, analyze it, and build a linear regression model to predict the ratings of anime.


## Key Questions

1. What are the key factors influencing the rating of an anime?
2. Is there a good predictive model for the rating of an anime? What does the performance assessment look like for such a model?


## Data Information

Each record in the database provides a description of an anime. A detailed data dictionary can be found below.

**Data Dictionary**

- title - the title of anime
- mediaType - format of publication
- eps - number of episodes (movies are considered 1 episode)
- duration - duration of an episode
- ongoing - whether it is ongoing
- startYr - year that airing started
- finishYr - year that airing finished
- sznOfRelease - the season of release (Winter, Spring, Fall)
- description - the synopsis of the plot
- studios - studios responsible for creation
- contentWarn - whether anime has a content warning
- watched - number of users that completed it
- watching - number of users that are watching it
- wantWatch - number of users that want to watch it
- dropped - number of users that dropped it before completion
- rating - average user rating
- votes - number of votes that contribute to rating
- tag_<tag/genre> - whether the anime has the certain tag or falls in the certain genre

## Let's start coding!

### Import necessary libraries

In [1]:
# this will help in making the Python code more structured automatically (good coding practice)

# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option("display.max_rows", 200)

## loading the dataset

In [73]:
# checking the shape of the data

In [72]:
# let's view a sample of the data

* The `duration` column has values in hours and minutes.
* The `studios` column has a list of values.
* There are a lot of missing values.

In [4]:
# creating a copy of the data so that original data remains unchanged

df = data.copy()

In [71]:
# checking for duplicate values in the data

- There are no duplicate values in the data.

In [70]:
# checking the names of the columns in the data

In [69]:
# checking column datatypes and number of non-null values

* There are many numeric (*float* and *int* type) and string (*object* type) columns in the data.
* Dependent variable is the rating of an anime, which is of *float* type.
* `ongoing` column is of *bool* type.

In [68]:
# checking for missing values in the data.

* There are missing values in many columns.

In [67]:
# Let's look at the statistical summary of the data (Transpose since columns are many)

* We can see that the anime ratings vary between 0.844 and 4.702, which suggests that the anime were rated on a scale of 0-5.
* *TV* is the most occurring type of media.
* For anime whose season of release is available, *Spring* is the most common season.
* The number of views for the anime in the data has a very wide range (0 to more than 160,000).

### From the data overview, we see that many columns in the data need to be preprocessed before they can be used for analysis.

## Data Preprocessing

### We will drop the missing values in `rating` column as it is the target variable.

In [66]:
# use subset in dropna to list the column

In [65]:
# let us reset the dataframe index

In [64]:
# checking missing values in rest of the data

### Let us look at the entries with no start year.

In [63]:
# startYr with null

* We will drop the entries with no start year as this is a difficult column to impute.
* The decision to drop these missing values or impute them by a suitable value is subject to domain knowledge, and based on the steps taken to deal with them, the model performance will vary.

## How to drop missing values

In [62]:
# drop the NAs in startYr


# let us reset the dataframe index

In [61]:
# checking missing values in rest of the data

### Let us look at the entries with no finish year.

In [19]:
# finishYr with null

In [18]:
# checking the summary of the data with missing values in finishYr (describe on finishYr with NULL)

* More than 25% of the entries with missing finish year have started on or after 2018.
* So, we will assume that the anime with missing values in `finishYr` are still airing, and fill the values with 2020 (the year the data was collected).
* You can experiment by dropping the entries where the finish year is missing.
* The decision to drop these missing values or impute them by a suitable value is subject to domain knowledge, and based on the steps taken to deal with them, the model performance will vary.

## Filling NAs with values

In [60]:
# fill the NAs in finishYr with 2020 (set inplace to True)



# checking missing values in rest of the data

* The missing values in `startYr` and `finishYr` columns have been dealt with.
* **We will now create a new variable `years_running`, which will be calculated as `finishYr` minus `startYr`.**
* **We will also drop the `startYr` and `finishYr` columns.**

## Feature Engineering

In [59]:
# create a column called "years_running" (finishYr - startYr) to indicate the no of years an anime is airing

In [58]:
# check the first 5 rows

## Dropping columns

In [57]:
# We can drop the start and finish years

In [56]:
# check the unique duration

### Let's convert the `duration` column from string to numeric.

In [24]:
s1 = "4hr 10min"

'10'

In [18]:
# we define a function to convert the duration column to numeric  [1 * 60 + 47]

In [55]:
# let's apply the function to the duration column and overwrite the column

In [20]:
# let's check the summary of the duration column (using describe)

count    7465.000000
mean       24.230141
std        31.468171
min         1.000000
25%         4.000000
50%         8.000000
75%        30.000000
max       163.000000
Name: duration, dtype: float64

* 50% of the anime in the data have a runtime less than or equal to 8 minutes.


* Some anime even have a runtime of 1 minute.
    - This seems strange at first, but a Google search can reveal that there are indeed such anime.

### We will fill the missing values in the `sznOfRelease` column with '*is_missing*', which will act as a new category.

In [54]:
# replace the missing values in "sznOfRelease" with "is_missing"


# check the missing values again

**Let's check the number of unique values and the number of times they occur for the `mediaType` column.**

### We will fill the missing values in the `mediaType` column with '*Unknown*', as the exact values for that category are not known.

In [53]:
# fill the missing values in mediaType with "Unknown"


# checking the number of unique values and the number of times they occur

- **We saw that the `studios` column has a list of values.**
- **Let us remove the leading and trailing square braces from the values in the column.**
- **We will also replace the entries with blank lists in these columns with *NaN*.**

In [52]:
# check the first few rows again

### Cleaning Studios column

In [33]:
# check the type for studios column
row = ["Manglobe"]

str(row).rstrip("]")

"['Manglobe'"

In [51]:
# remove both the left and right square brackets in the studios column



# replace blank with NaN

### Treating the `studios` column

In [50]:
# randomly sample few rows to view again (row 2942)

* We can see that row 2942 has more than one studio, which indicates a collaboration between studios.
* We will split the tags column by ', ' and take all the values in one dataframe for further analysis.

In [49]:
# we want to split the rows with more than one studio, and create a dataframe called "studio_df" with a single column from them.
studio_df = pd.DataFrame(df["studios"].str.split(", ", expand = True).values.flatten(), columns = ["Studios"])

* There are too many studios in the data, and adding them all as separate columns will make our data dimension very large.
* We will use a threshold, and keep only those studios with at least as many entries as the threshold.

In [37]:
threshold = 100
val_c = studio_df["Studios"].value_counts()

studio_list = val_c[val_c.values >= threshold].index.tolist()

In [38]:
# we take 100 as threshold (Note: this is just an arbitrary number)


# filter out all studios less than the threshold

* 100 looks to be a good threshold.
* We will keep only those studios that have created more than 100 anime, and the rest we will assign as '*Others*'.
* You can experiment by using a different threshold.

In [41]:
# convert the filtered studio to a list of studios

In [39]:
# let us create another copy of our dataframe called df1

df1 = df.copy()

In [40]:
# first we will fill missing values in the studio column by 'Others'
df1.studios.fillna("'Others'", inplace=True)



df1.studios.isnull().sum()

0

* We will now assign the studio names to the entries.
* We will also create a new variable that will show if collaboration between studios was involved for creating an anime.

In [48]:
studio_val = []

for i in range(df1.shape[0]):  # iterate over all rows in data
    txt = df1.studios.values[i]  # getting the values in studios column
    flag = 0  # flag variable
    for item in studio_list:  # iterate over the list of studios considered
        if item in txt and flag == 0:  # checking if studio name is in the row
            studio_val.append(item)
            flag = 1
    if flag == 0:  # if the row values is different from the list of studios considered
        studio_val.append("'Others'")

In [47]:
# remove the unnecessary string in studio names
#df1["studio_primary"] = [item.strip("'") for item in studio_val]

In [46]:
#df1.studios.str.split(", ", expand=True).iloc[:, 1].unique()

In [48]:
# we will create a list defining whether there is a collaboration between studios
# we will check if the second split has None values, which will mean no collaboration between studios
studio_val2 = [
    0 if item is None else 1
    for item in df1.studios.str.split(", ", expand=True).iloc[:, 1]]

df1["studios_colab"] = studio_val2

**We will now drop the `studios` column.**

In [43]:
# drop the studios column

### We have preprocessed the columns with a list of values. We now have the same clean data with which we started the previous session.

**The only change is that we have replaced the '*is_missing*' category in the `studio_primary` columns by '*Others*'.**

### Next, we will impute the missing values in the data.

In [41]:
# checking missing values in rest of the data

### We will fill the missing values in `duration` and `watched` columns by the median values grouped by `studio_primary` and `mediaType`.

In [44]:
# copy the data to a new dataframe
#df2 = df1.copy()

#df2[["duration", "watched"]] = df2.groupby(["studio_primary", "mediaType"])[["duration", "watched"]].transform(lambda x: x.fillna(x.median()))

# checking for missing values

### We will fill the remaining missing values in `duration` column by column median.

In [52]:

#df2["duration"].fillna(df2["duration"].median(), inplace = True)

In [45]:
# check for missing values

### We will now drop the `description` and `title` columns.

In [54]:
# drop the description and the title columns


# let's check the summary of our data

### Save the cleaned data

### <a id='link1'>Summary of EDA</a>

**Data Description:**

- The target variable (`rating`) is of *float* type.
- Columns like `title`, `description`, `mediaType`, `studio`, etc. are of *object* type.
- `ongoing` column is of *bool* type.
- All other columns are numeric in nature.
- There are no duplicate values in the data.
- There are a lot of missing values in the data.


**Data Cleaning:**

- The `title` and `description` columns are dropped for modeling as they are highly textual in nature.
- The `duration` column was converted from string to numeric by applying the *time_to_minutes* function.
- The `studios` column was processed to convert the list of values into a suitable format for analysis and modeling.
- The missing values in the data are treated as follows:
    - Missing values in the target variable `rating` were dropped.
    - Missing values in `startYr` were dropped.
    - Missing values in `finishYr` were imputed with *2020*.
    - Missing values in `sznOfRelease` were imputed with a new category *'is_missing'*.
    - Missing values in `mediaType` were imputed with a new category *'Unknown'*.
    - Missing values in `duration` and `watched` columns were imputed by the median values grouped by `studio_primary` and `mediaType`. The remaining missing values in these columns, if any, were imputed by column medians over the entire data.
- The `startYr` and `finishYr` columns were combined to create a new feature `years_running`. The original columns were then dropped.

## Exercise 2
1.	Using the Names.csv data, read in the data and set the columns of the data as (First_name, Last_name, Address, City, State, Area_code, and Income) in this order. 
 
2.	Create another column in the Names data and name it “Tax”, which has value 0.25 where the income is between 10000 and 40000, 0.3 for income between 40000 and 80000, and 0.35 for values greater than 80000. 
 
3.	Using the shifts.xlsx data, find the total Units sold for each of the regions. 
 
4.	Find the top three sales reps that had the highest units sold in total, also listing the total units sold by each of them. 
 
5.	Using visualization, find the product with the highest unit sold and state the units sold. 
 
6.	Similarly, using visualization, find the region with the highest units sold. 
 
7.	Create a visualization to examine the shift with the highest units sold.